.title{
    color: #1dbfc1;
    font-weight: bold;
    font-size: 25px;
}


.overlay{
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5) !important;  
    width: 100%;
    transition: .5s ease; 
}

.effect:hover .overlay{
    height: 50%;
}

.txt {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}