*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

footer li a{
    text-decoration: none;
    color: black;
}

footer li{
    padding: 5px;
}

.bg-1900{
    background-color: #effafa;
}

.ContactForm input,textarea{
    border: inset ;
    background-color:whitesmoke;
}
